@import '../../commons/color.scss';

.movie-list ,.shows-list{
  margin: 20px 0;

  h2 {
    margin-bottom: 10px;
    font-weight: 400;
    color: $font-secondary;
  }
}


.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 20px;
}